*{
  margin:0px;
  padding:0px;
  
}
.bgimg{
  background-image:url('pexels-photo-1229861.jpeg');
  background-size:100% 100%;
  width:100%;
  height:100vh;
}
.contactimg{
  background-image:url('free-outstanding-contact-me-vectors.jpg');
  background-size:100% 100%;
  width:100%;
  height:100vh;
}
.aboutimg{
  background-image:url('5024468_orig.png');
  background-repeat:no-repeat;
  background-size:100% 140%;
  width:100%;
  height:50%;
}
.menu{
  width:100%;
  height:100px;
  background-color:rgba(0,0,0,0.2);
}
.menu1{
  width:100%;
  height:100px;
  background-color:rgba(0,0,0,0.5);
}
.menu2{
  width:100%;
  height:100px;
  background-color:rgba(70,130,180,0.2);
}
.menu3{
  width:100%;
  height:100px;
  background-color:rgba(0,0,0,0.9);
}
.left{
  width:25%;
  line-height:100px;
  float:left;
}
.left h4{
   padding-left:70px;
   font-weight:bold;
   color:white;
   font-size:20px;
}
.right{
  width:75%;
  height:100px;
  float:right;
}
.right ul{
  margin-left:400px;
}
.right ul li{
  display:inline-block;
}

.right ul li a{
  text-decoration:none;
  font-size:17px;
  color:white;
  font-weight:bold;
  line-height:100px;
  margin-left:50px;
}
.right ul li a:hover{
  color:dimgrey;
}
.text{
  margin-top:90px;
  margin-left:140px;
  color:Grey;
}
.photo img{
  width:30%;
  line-height:50px;
  float:left;
}
.info{
  width:65%;
  height:30%;
  line-height:45px;
  float:right;
}
.info pre{
  font-size:22px;
  color:black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:black;
  width: 350px;
  margin: auto;
  text-align: center;
}

.title {
  color: white;
  font-size: 20px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color:grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
  background-color:black;
}

.column {
  flex: 50%;
  padding: 0 20px;
}

.column img {
  margin-top: 2px;
  vertical-align: middle;
}





